body {
background:burlywood;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
color: honeydew;
text-align: center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: honeydew; 
border-radius: 25%;
}